<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
        
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <!-- pre angular 17 way of showing elements based on condition will still work with 17-->
            <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="loggedIn"> -->
            
            <!-- post angular 17 way of doing it -->
            <!-- this user our currentuser signal -->
            @if(accountService.currentUser()){
                <li class="nav-item">
                    <!-- router link is how we tell this wich route to use for the links -->
                     <!-- routerlinkactive tell the link what class to apply when the link is active -->
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
            }
        </ul>

        @if(accountService.currentUser()){
            <!-- make a dropdown -->
            <div class="dropdown" dropdown>
                <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
                    <!-- use the username in our welcome message and make it title case (ie capitilize first letter) -->
                    Welcome {{accountService.currentUser()?.username | titlecase}}
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        }

        @if(!accountService.currentUser()){
            <!-- make this a login form and execute our login function on submit-->
            <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
                <!-- two way binding so we can receive and send data to component -->
                <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
                <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password" type="password">
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        }
        
        
    </div>
</nav>